<!DOCTYPE html>
<html>
<head>
	<title>Student Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h2>Student Login</h2>
				<form method="post" action="{% url 'student_profile' %}" enctype="multipart/form-data">
				
					<div class="form-group">
						<label for="national_id">National ID:</label>
						<input type="text" class="form-control" id="national_id" name="national_id" required>
					</div>
					<div class="form-group">
						<label for="university_id">University ID:</label>
						<input type="text" class="form-control" id="university_id" name="university_id" required>
					</div>
					<div class="form-group">
						<label for="first_name">First Name:</label>
						<input type="text" class="form-control" id="first_name" name="first_name" required>
					</div>
					<div class="form-group">
						<label for="last_name">Last Name:</label>
						<input type="text" class="form-control" id="last_name" name="last_name" required>
					</div>
					<div class="form-group">
						<label for="father_name">Father Name:</label>
						<input type="text" class="form-control" id="father_name" name="father_name" required>
					</div>
					<div class="form-group">
						<label for="college">College:</label>
						<select class="form-control" id="college" name="college" required>
							<option value="">Select College</option>
							<option value="college1">College 1</option>
							<option value="college2">College 2</option>
							<option value="college3">College 3</option>
						</select>
					</div>
					<div class="form-group">
						<label for="image">Image:</label>
						<input type="file" class="form-control-file" id="image" name="image" accept="image/*" required>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>